<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<nav th:replace="~{fragments/navbar2}"></nav>
<main class="entity-page">
    <div>
        <h2 th:text="${group.name}"></h2>
    </div>
    <a th:href="@{/moderator/group/{name}/update(name=${group.name})}"><button class="border">Изменить</button></a>
    <a th:href="@{/moderator/group/{name}/delete(name=${group.name})}"><button class="border">Удалить</button></a>
</main>
</body>
</html>