<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/user-head}"/>
<body>
<main class="main">
    <h1>Berserkdle</h1>

    <div>
        <a href="/new-game">
            <button class="border">Новая игра</button>
        </a>
    </div>

    <div>
        <a href="/users/profile">
            <button class="border">Профиль</button>
        </a>
    </div>

    <p>Угадай персонажа</p>
    <form th:if="${not gameWon}" th:action="@{/}" th:object="${requestedPerson}" th:method="post">
        <input type="text"
               th:field="*{name}"
               placeholder="Введите имя персонажа"
               list="personsList"
               required>
        <datalist id="personsList">
            <option th:each="name : ${allPersonsNames}"
                    th:value="${name}">
        </datalist>
        <button type="submit" class="border">Угадать</button>
    </form>

    <div th:unless="${not gameWon}">
        Вы победили!
    </div>

    <br>
        <table th:if="${not guessedPersons.isEmpty()}">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Пол</th>
                <th scope="col">Раса</th>
                <th scope="col">Группа</th>
                <th scope="col">Оружие</th>
                <th scope="col">Арка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guess : ${guessedPersons}">
                <!-- Имя персонажа -->
                <th scope="row">
                    <div th:text="${guess.requestedPersonDto.name}"
                         class="color white"></div>
                </th>

                <!-- Пол -->
                <td>
                    <div th:text="${guess.requestedPersonDto.gender}"
                         class="color"
                         th:classappend="${guess.genderMatch.toString() == 'CORRECT'} ? 'correct' : 'wrong'"></div>
                </td>

                <!-- Раса -->
                <td>
                    <div th:classappend="${guess.speciesMatch.toString() == 'CORRECT'} ? 'correct' :
                                        (${guess.speciesMatch.toString() == 'PARTIAL'} ? 'partially-correct' : 'wrong')"
                         class="color"
                         th:text="${guess.requestedPersonDto.species}"></div>
                </td>

                <!-- Группа -->
                <td>
                    <div th:classappend="${guess.groupMatch.toString() == 'CORRECT'} ? 'correct' :
                                        (${guess.groupMatch.toString() == 'PARTIAL'} ? 'partially-correct' : 'wrong')"
                         class="color">
                        <span th:each="group : ${guess.requestedPersonDto.groups}" th:text="${group}"></span>
                    </div>
                </td>

                <!-- Оружие -->
                <td>
                    <div th:classappend="${guess.weaponMatch.toString() == 'CORRECT'} ? 'correct' :
                                        (${guess.weaponMatch.toString() == 'PARTIAL'} ? 'partially-correct' : 'wrong')"
                         class="color">
                        <span th:each="weapon : ${guess.requestedPersonDto.weapons}" th:text="${weapon}"></span>
                    </div>
                </td>

                <!-- Арка -->
                <td>
                    <div th:classappend="${guess.arcMatch.toString() == 'CORRECT'} ? 'correct' : 'wrong'"
                         class="color"
                         th:text="${guess.requestedPersonDto.arc}"></div>
                </td>
            </tr>
            </tbody>
        </table>

    <br>

    <div class="legend">
        <p>Обозначения цветов</p>
        <div class="colors">
            <div class="color wrong">Неверно</div>
            <div class="color partially-correct">Верно частично</div>
            <div class="color correct">Верно</div>
        </div>
    </div>
</main>
</body>
</html>