<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/user-head}"/>
<body>
<main class="main">
    <h1>Berserkdle</h1>

    <div>
        <a href="/users/profile"><button class="border">Профиль</button></a>
    </div>

    <p>Угадай персонажа</p>
    <form th:if="${not gameWon}" th:action="@{/}" th:object="${requestedPerson}" th:method="post">
        <input type="text"
               th:field="*{name}"
               placeholder="Введите имя персонажа"
               list="personsList"
               required>
        <datalist id="personsList">
            <option th:each="name : ${allPersonsNames}"
                    th:value="${name}">
        </datalist>
        <button type="submit" class="border">Угадать</button>
    </form>

    <br>

    <div class="guessed" th:if="${not guessedPersons.isEmpty()}">
        <div class="table-header">
            <div class="header-cell">Имя</div>
            <div class="header-cell">Пол</div>
            <div class="header-cell">Группа</div>
            <div class="header-cell">Раса</div>
            <div class="header-cell">Оружие</div>
            <div class="header-cell">Арка</div>
        </div>
        <div th:each="guess : ${guessedPersons}" class="guess-row">
            <div class="attribute-container">
                <!-- Имя персонажа -->
                <div class="color">
                    <span th:text="${guess.requestedPersonDto.name}"></span>
                </div>

                <!-- Пол -->
                <div th:classappend="${guess.genderMatch == 'CORRECT'} ? 'correct' : 'wrong'"
                     class="color">
                    <span th:text="${guess.requestedPersonDto.gender}"></span>
                </div>

                <!-- Раса -->
                <div th:classappend="${guess.speciesMatch == 'CORRECT'} ? 'correct' :
                                        (${guess.speciesMatch == 'PARTIAL'} ? 'partially-correct' : 'wrong')"
                     class="color">
                    <span th:text="${guess.requestedPersonDto.species}"></span>
                </div>

                <!-- Группа -->
                <div th:classappend="${guess.groupMatch == 'CORRECT'} ? 'correct' :
                                        (${guess.groupMatch == 'PARTIAL'} ? 'partially-correct' : 'wrong')"
                     class="color">
                    <span th:each="group : ${guess.requestedPersonDto.groups}" th:text="${group}"></span>
                </div>

                <!-- Оружие -->
                <div th:classappend="${guess.weaponMatch == 'CORRECT'} ? 'correct' :
                                        (${guess.weaponMatch == 'PARTIAL'} ? 'partially-correct' : 'wrong')"
                     class="color">
                    <span th:each="weapon : ${guess.requestedPersonDto.weapons}" th:text="${weapon}"></span>
                </div>

                <!-- Арка -->
                <div th:classappend="${guess.arcMatch == 'CORRECT'} ? 'correct' : 'wrong'"
                     class="color">
                    <span th:text="${guess.requestedPersonDto.arc}"></span>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="legend">
        <p>Обозначения цветов</p>
        <div class="colors">
            <div class="color wrong">Неверно</div>
            <div class="color partially-correct">Верно частично</div>
            <div class="color correct">Верно</div>
        </div>
    </div>
</main>
</body>
</html>