<div class="creation-layout" xmlns:th="http://www.thymeleaf.org" th:fragment="createForm(object, actionUrl)">
    <form th:action="@{${actionUrl}}"
          th:method="post"
          th:object="${object}">
        <div id="label-and-input">
            <label for="name">Название:</label>
            <input type="text"
                   id="name"
                   name="name"
                   th:value="${object.name}"
                   placeholder="Введите название"
                   required/>
        </div>
        <div id="create-button">
            <button class="button" type="submit">Создать</button>
        </div>
    </form>
</div>