<div class="creation-layout" xmlns:th="http://www.thymeleaf.org" th:fragment="createForm(object, actionUrl)">
    <form th:action="@{${actionUrl}}"
          th:method="post"
          th:object="${object}">
        <div id="label-and-input">
            <label for="name">Название:</label>
            <input type="text"
                   id="name"
                   th:field="*{${object.name}}"
                   th:errorclass="is-invalid"
                   placeholder="Введите название"
                   required/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="text-danger">
            </small>
        </div>
        <div id="create-button">
            <button class="button" type="submit">Создать</button>
        </div>
    </form>
</div>