<nav class="navbar-layout-2" xmlns:th="http://www.thymeleaf.org">
    <div>
        <a href="/moderator/person/all"><button>Персонаж</button></a>
        <a href="/moderator/weapon/all"><button>Оружие</button></a>
        <a href="/moderator/group/all"><button>Группа</button></a>
        <a href="/moderator/gender/all"><button>Пол</button></a>
        <a href="/moderator/species/all"><button>Раса</button></a>
        <a href="/moderator/arc/all"><button>Арка</button></a>
    </div>
    <hr>
</nav>