<div class="navbar-layout-2" xmlns:th="http://www.thymeleaf.org">
    <div>
        <a href="/person/all"><button class="button-navbar">Персонаж</button></a>
        <a href="/weapon/all"><button class="button-navbar">Оружие</button></a>
        <a href="/group/all"><button class="button-navbar">Группа</button></a>
        <a href="/gender/all"><button class="button-navbar">Пол</button></a>
        <a href="/species/all"><button class="button-navbar">Раса</button></a>
        <a href="/arc/all"><button class="button-navbar">Арка</button></a>
    </div>
</div>