<nav class="navbar-layout-2" xmlns:th="http://www.thymeleaf.org">
    <div>
        <a href="/person/all"><button class="button">Персонаж</button></a>
        <a href="/weapon/all"><button class="button">Оружие</button></a>
        <a href="/group/all"><button class="button">Группа</button></a>
        <a href="/gender/all"><button class="button">Пол</button></a>
        <a href="/species/all"><button class="button">Раса</button></a>
        <a href="/arc/all"><button class="button">Арка</button></a>
    </div>
    <hr>
</nav>