:root {
    --background-color-page: #39a47d;
    --background-color-items: #dedede;

    --button-hover-color: #B5B4B4;
    --button-pressed-color: #757474;

    --button-border-weight: 2px;
    --button-border-color: black;

    --danger-text-color: #FF0000;
    --success-text-color: #03B718;

    --h1-font-size: 32px;
    --main-font-size: 16px;
    --input-font-size: 16px;
    --small-font-size: 12px;
    --button-font-size: 20px;
    --card-font-size: 20px;

    --button-width: 170px;
    --button-height: 70px;

    --input-width: 700px;
    --input-height: 50px;

    --border-radius: 5px;


}

body {
    background-color: var(--background-color-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 0;
}

button {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--border-radius);
    background-color: white;
    border-width: 0;

    &.border {
        background-color: var(--background-color-items);
        border-width: var(--button-border-weight);
        border-color: var(--button-border-color);
        cursor: pointer;
    }

    &:hover, &.border:hover {
        background-color: var(--button-hover-color);
    }

    &:active, &.border:active {
        background-color: var(--button-pressed-color);
    }
}

input {
    width: var(--input-width);
    height: var(--input-height);
    font-size: var(--input-font-size);
    background-color: var(--background-color-items);
    border-width: 1px;
    border-radius: var(--border-radius);
}

main {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.all {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    #search {
        flex-direction: row;
    }

    #create-button {
        height: fit-content;
    }

    .cards {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;

        .card {
            border-radius: var(--border-radius);
            border-width: 3px;
            border-color: black;
            display: flex;
            background-color: var(--background-color-items);


            &:hover {
                background-color: var(--button-hover-color);
            }

            &:active {
                background-color: var(--button-pressed-color);
            }

            a {
                text-decoration: none;
                color: black;
                padding-left: 5%;
                width: 100%;
            }
        }
    }
}

.navbar-layout-2 {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    hr {
        width: 99%;
        margin: 0;
        border-bottom: none;
        color: black;
    }
}

.create {
    form {
        width: fit-content;
    }

    #input {
        display: flex;
        flex-direction: column;
    }

    #create-button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 3%;
    }
}

.delete {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1600px) {
    input {
        width: calc(var(--input-width) * 0.75);
    }

    button {
        height: calc(var(--button-height) * 0.75);
        width: calc(var(--button-width) * 0.75);
    }
}