<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/user-head}"/>
<body>
<main class="login">
    <article style="max-width: 600px; margin: 0 auto;">
        <hgroup>
            <h1>Вход</h1>
            <p>Введите свои данные для доступа к системе</p>
        </hgroup>
        <form th:action="@{/users/login}" th:method="post">
            <label for="username">
                Логин
                <input id="username"
                       name="username"
                       th:value="${username}"
                       type="text"
                       placeholder="Введите логин"
                       required/>
            </label>

            <label for="password">
                Пароль
                <input id="password"
                       name="password"
                       type="password"
                       placeholder="Введите пароль"
                       required/>
            </label>

            <div class="rememberMe-div">
                <label>
                    <input type="checkbox" name="remember-me" role="switch">
                    Запомнить меня
                </label>
            </div>

            <p class="text-danger" th:if="${badCredentials}">
                <mark>Неверный логин или пароль.</mark>
            </p>

            <button type="submit" class="border">Войти</button>
        </form>
    </article>
    <a href="/users/register">
        <button class="border">Регистрация</button>
    </a>
</main>
</body>
</html>