<!-- src/main/resources/templates/person/create.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<nav th:replace="~{fragments/navbar2}"></nav>
<main class="create-person">
    <h1>Создание персонажа</h1>

    <form th:action="@{/moderator/person/create}"
          th:object="${personModel}"
          method="post"
          id="personForm">
        <!-- Имя -->
        <div class="label-container">
            <label for="name" class="form-label">Имя:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}"
                   placeholder="Введите имя">
            <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                <small th:errors="*{name}"></small>
            </div>
        </div>

        <!-- Пол -->
        <div class="label-container">
            <label class="form-label">Пол:</label>
            <input type="text" class="form-control"
                   id="gender"
                   th:field="*{gender}"
                   placeholder="Введите пол">
            <div class="autocomplete-items" id="genderAutocompleteList"></div>
            <div th:if="${#fields.hasErrors('gender')}" class="text-danger">
                <small th:errors="*{gender}"></small>
            </div>
        </div>

        <!-- Арка -->
        <div class="label-container">
            <label class="form-label">Арка:</label>
            <input type="text" class="form-control"
                   id="firstArc"
                   th:field="*{firstArc}"
                   placeholder="Введите название арки">
            <div th:if="${#fields.hasErrors('firstArc')}" class="text-danger">
                <small th:errors="*{firstArc}"></small>
            </div>
        </div>

        <!-- Раса -->
        <div class="label-container">
            <label class="form-label">Раса:</label>
            <input type="text" class="form-control autocomplete-input"
                   id="species"
                   th:field="*{species}"
                   placeholder="Введите расу">
            <div th:if="${#fields.hasErrors('species')}" class="text-danger">
                <small th:errors="*{species}"></small>
            </div>
        </div>

        <!-- Оружие -->
        <div class="label-container">
            <label class="form-label">Оружие:</label>
            <div class="input-group">
                <input type="text" class="form-control autocomplete-input"
                       id="weapon"
                       th:field="*{weapons}"
                       placeholder="Введите название оружия">
            </div>
        </div>

        <!-- Группы -->
        <div class="label-container">
            <label class="form-label">Группы:</label>
            <div class="input-group">
                <input type="text" class="form-control autocomplete-input"
                       id="group"
                       th:field="*{groups}"
                       placeholder="Введите название группы">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</main>
</body>
</html>