<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<div th:replace="~{fragments/navbar}"></div>
<br>
<div class="creation-layout">
    <h1>Создание оружия</h1>
    <form th:action="@{/weapon/create}"
          th:method="post"
          th:object="${weaponModel}">
        <div id="outer-label-and-input">
            <div id="label-and-input">
                <label for="name">Название:</label>
                <input type="text"
                       id="name"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       placeholder="Введите название"
                       required/>
            </div>
            <div id="small">
                <small th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"
                       class="text-danger">
                </small>
                <small th:if="${successMessage}"
                       th:text="${successMessage}"
                       class="text-success">
                </small>
            </div>
        </div>
        <div id="create-button">
            <button class="button" type="submit">Создать</button>
        </div>
    </form>
</div>
</body>
</html>