<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<nav th:replace="~{fragments/navbar2}"></nav>
<main class="create">
    <h1>Создание оружия</h1>
    <form th:action="@{/moderator/weapon/create}"
          th:method="post"
          th:object="${weaponModel}">
        <div id="input">
            <input type="text"
                   id="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
                   placeholder="Введите название"
                   aria-label="Название"
                   required/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="danger-text">
            </small>
            <small th:if="${successMessage}"
                   th:text="${successMessage}"
                   class="success-text">
            </small>
        </div>
        <div id="create-button">
            <button class="border" type="submit">Создать</button>
        </div>
    </form>
</main>
</body>
</html>