<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<nav th:replace="~{fragments/navbar2}"></nav>
<main class="delete">
    <form th:action="@{/moderator/weapon/{name}/delete(name = ${weapon.name})}"
          th:method="post"
          th:object="${weapon}">
        <h1 th:text="|Удалить оружие ${weapon.name}?|"></h1>
        <small th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               class="danger-text">
        </small>
        <small th:if="${successMessage}"
               th:text="${successMessage}"
               class="success-text">
        </small>
        <button class="border" type="submit">Удалить</button>
    </form>
</main>
</body>
</html>