<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<div th:replace="~{fragments/navbar2}"></div>
<div class="main-layout">
    <!-- Форма поиска -->
    <form method="get" action="/weapon/all">
        <div>
            <input type="search"
                   name="search"
                   th:value="${search}"
                   placeholder="Поиск по названию"
                   aria-label="Поиск">
            <button class="button" type="submit">Найти</button>
        </div>
    </form>
    <a href="/weapon/create"><button class="button">Создать</button></a>
</div>
</body>
</html>